{extend name="public:base" /}

{block name="main"}
<h2 class="text-center">用户列表</h2>
<table class="table table-striped text-center">
	<tr>
		<td>ID</td>
		<td>用户名</td>
		<td>邮箱</td>
		<td>手机号</td>
		<td>注册时间</td>
		<td>身份</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	{volist name="userlist" id="user"}
	<tr>
		<td>{$user.id}</td>
		<td>{$user.name}</td>
		<td>{$user.email}</td>
		<td>{$user.mobile}</td>
		<td>{$user.create_time}</td>
		<td>
			{if $user.is_admin == 1}
			<span style="color: green">超级管理员</span>
			{else /}
			<span>普通用户</span>
			{/if}
		</td>
		<td>{$user.status}</td>
		<td>
			{eq name="$user['id']" value="$Think.session.admin_id"}
			<a href="{:url('admin/Index/edit',['id'=>$user['id']])}">编辑</a>
			{/eq}
			{eq name="$Think.session.admin_level" value='1'}
			<a href="javascript:;" class="del" data-id="{$user.id}">删除</a>
			{/eq}
		</td>
	</tr>
	{/volist}
</table>
<script>
	$('.del').click(function(){
		if(confirm('您确定要删除吗?') == true){
			var id = $(this).attr('data-id');
			window.location.href = '{:url("admin/Index/delete")}' + '?id=' + id;
		}
	})
</script>
{/block}