{extend name="public:base" /}

{block name="main"}
<h2 class="text-center">用户列表</h2>
<table class="table table-striped text-center">
	<tr>
		<td>ID</td>
		<td>用户名</td>
		<td>邮箱</td>
		<td>手机号</td>
		<td>注册时间</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>用户名</td>
		<td>邮箱</td>
		<td>手机号</td>
		<td>注册时间</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>用户名</td>
		<td>邮箱</td>
		<td>手机号</td>
		<td>注册时间</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>用户名</td>
		<td>邮箱</td>
		<td>手机号</td>
		<td>注册时间</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
</table>
{/block}