<div class="panel-group table-responsive" role="tablist">
    {if $Think.session.admin_level == 1}
    <div class="panel panel-primary leftMenu">
        <!-- 利用data-target指定要折叠的分组列表 -->
        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
            <h4 class="panel-title">
                <small class="glyphicon glyphicon-cog"></small>
                系统管理
                <span class="glyphicon glyphicon-chevron-up right"></span>
            </h4>
        </div>
        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
        <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
            <ul class="list-group">
              <li class="list-group-item">
                <!-- 利用data-target指定URL -->
                <button class="menu-item-left" data-target="test2.html">
                    <span class="glyphicon glyphicon-triangle-right"></span><a href="{:url('admin/Web/index')}">网站管理</a>
                </button>
              </li>
            </ul>
        </div>
    </div>
    {/if}
    <!--panel end-->
    <div class="panel panel-primary leftMenu">
        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
            <h4 class="panel-title">
              <small class="glyphicon glyphicon-user"></small>
                用户列表
                <span class="glyphicon glyphicon-chevron-down right"></span>
            </h4>
        </div>
        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
            <ul class="list-group">
              <li class="list-group-item">
                <button class="menu-item-left">
                    <span class="glyphicon glyphicon-triangle-right"></span><a href="{:url('admin/Index/userlist')}">用户列表</a>
                </button>
              </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary leftMenu">
        <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab" >
            <h4 class="panel-title">
              <small class="glyphicon glyphicon-book"></small>
                文件管理
                <span class="glyphicon glyphicon-chevron-down right"></span>
            </h4>
        </div>
        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
            <ul class="list-group">
              {if $Think.session.admin_level == 1}
              <li class="list-group-item">
                <button class="menu-item-left">
                    <span class="glyphicon glyphicon-triangle-right"></span><a href="{:url('admin/Cate/index')}">分类管理</a>
                </button>
              </li>
              {/if}
              <li class="list-group-item">
                <button class="menu-item-left">
                    <span class="glyphicon glyphicon-triangle-right"></span><a href="{:url('admin/Article/index')}">文章管理</a>
                </button>
              </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary leftMenu">
        <!-- 利用data-target指定要折叠的分组列表 -->
        <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab" >
            <h4 class="panel-title">
                <small class="glyphicon glyphicon-cog"></small>
                辅助工具
                <span class="glyphicon glyphicon-chevron-up right"></span>
            </h4>
        </div>
        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
        <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
            <ul class="list-group">
              <li class="list-group-item">
                <!-- 利用data-target指定URL -->
                <button class="menu-item-left" data-target="test2.html">
                    <span class="glyphicon glyphicon-triangle-right"></span><a href="{:url('admin/Web/speed')}">测网速</a>
                </button>
              </li>
            </ul>
        </div>
    </div>

</div>