{extend name="public:base" /}

{block name="main"}
<h2 class="text-center">栏目编辑</h2>
<form class="form-horizontal" action="{:url('admin/Cate/doAdd')}" method="post">
  <input type="hidden" name="user_id" value="{$Think.session.admin_id}">
  <div class="form-group">
    <label for="inputEmail1" class="col-sm-2 control-label">栏目名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail1" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="col-sm-2 control-label">排序</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword2" name="sort" placeholder="Sort">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="col-sm-2 control-label">状态</label>
    <div class="col-sm-10">
	     <label class="radio-inline">
			    <input type="radio" name="status" id="inlineRadio1" value="1" checked="checked"> 开启
			</label>
			<label class="radio-inline">
			    <input type="radio" name="status" id="inlineRadio2" value="0"> 关闭
		</label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">保存</button>
    </div>
  </div>
</form>
{/block}