{extend name="public:base" /}

{block name="main"}
<div class="page-header">
    <h1>会员登录</h1>
    <form class="form-horizontal" id="login">
  
	  <div class="form-group">
	    <label for="inputEmail2" class="col-sm-2 control-label">邮 箱</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputEmail2" placeholder="Email" name="email">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">密 码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
	    </div>
	  </div>

	</form>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <a id="sub" class="btn btn-default" href="javascript:;">提交</a>
	    </div>
	</div>
</div>
<script>
	
	$("#sub").on('click',function(){
		var url  =  '{:url("index/User/loginCheck")}';
		var data =  $("#login").serialize();
		$.post(url,data,function(result){
			if(result.status == 1){
				alert(result.message);
				window.location.href = '{:url("index/Index/index")}';
			}else{
				alert(result.message);
				window.location.href = '{url("index/User/login")}'
			}
		},'JSON')
	})
	
</script>
{/block}